.nav {
  @include flexStart;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 3rem;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  transition: all 0.2s ease-in-out;
  &-list {
    display: flex;
    align-items: center;
  }
  &-item {
    padding: 0 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $pink;
    }
  }
}

.sticky {
  transition: all 0.2s ease-in-out;
  top: 0;
  transform: translateY($nav-height);
  position: fixed;
}
