$pink: rgb(235, 52, 113);
$nav-height: 3rem;
$blue: #252834;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexCenterCol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flexStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin btnColor {
  color: $pink;
  background-color: #fff;
  border: 3px solid #fff;
}
